{% extends 'layout.html' %}

{% block body %}

<h1 align="center">DASHBOARD</h1>
<br>
<h3>Welcome @ {{session.username}}</h3>
{% if session.userroll %}
<a class="button" href="add_link">Add Lecture URL</a>
<a class="button" href="v1">Upload Lecture Recording</a>
{% endif %}
<hr>
<h4>Links</h4>
<table class="table table-striped">
    <tr style="background-color: blueviolet;">
        <th>Teacher</th>
        <th>Subject</th>
        <th>Date</th>
        <th></th>
        <th></th>
    </tr>
    {% for sum in summary %}
    <tr>
        <td>{{sum.teacher}}</td>
        <td>{{sum.subject}}</td>
        <td>{{sum.datee}}</td>
        <td><a href="{{sum.link}}" class="btn btn-default pullright" style="background-color:  blueviolet; color: white;">Lecture Hyperlink</a></td>
        <td>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<p hidden id="{{sum.id}}">{{sum.link}}</p>

<form action="/generate_summary" method="POST" >
    <button type="submit" name="generate" value="{{sum.link}}" style="border-radius: 10px;background-color: white; color: blueviolet;">Generate Summary</button>
</form>

        </td>
    </tr>
    {% endfor %}
</table>

<!-- <script src="static/js/chapters.js"></script> -->


<h4>Uploaded Videos</h4>
<table class="table table-striped">
    <tr style="background-color: blueviolet; ">
        <th>Teacher</th>
        <th>Subject</th>
        <th>Date</th>
        <th></th>
    </tr>
    {% for v in vsummary %}
    <tr>
        <td>{{v.vteacher}}</td>
        <td>{{v.vsubject}}</td>
        <td>{{v.vdatee}}</td>
        <td>{% if v.path %}
	<!-- <div style="margin: 10px auto;"> -->
		<!-- <video width="320" height="240" controls="controls" preload="preload">
			<source src="{{ url_for('display_video', filename=v.path) }}" type="video/mp4"></source>
		</video> -->

        <figure>
            <video id="lecture{{v.vid}}" width="320" height="240" controls="controls" preload="preload">
                <source src="{{ url_for('display_video', filename=v.path) }}" type="video/mp4"></source>
                <!-- <track id="indexes" kind="chapters" label="Topics" src="{{ url_for('display_track', filename=v.path) }}" srclang="en" default onload="displayChapters()">     -->
                <!-- <track kind="chapters" id="indexes" src="{{ url_for('display_track', filename=v.path) }}" srclang="en" default onload="displayChapters(this)"> -->
            </video>
            <figcaption>
                <ol id="chapters{{v.vid}}">
                    {% for c in v.chapters %}
                    <li id="{{c.start}}" value="{{v.vid}}" onclick="setTime(this.id,this.value)">{{c.title}}</li>
                    {% endfor %}
                </ol>
            </figcaption>
        </figure>

        <script>
            function setTime(time,value){
                var locations = [].slice.call(document.querySelectorAll("#chapters"+value+" li"));
                for (var i = 0; i < locations.length; ++i) { 
                    locations[i].classList.remove("current");
                }
                video = document.getElementById('lecture'+value);
                video.currentTime = time;
                document.getElementById(time).classList.add("current");
            }
        </script>

       <!-- </div> -->
{% endif %}</td>
        <td>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<p hidden id="{{v.vid}}">{{v.path}}</p>

<form action="/video_indexer" method="POST" >
    <button class="button" type="submit" name="index" value="{{v.path}}" style="border-radius: 20px;background-color: white; color: blueviolet;">Index Video</button>
</form>

<!-- <button onclick="copyToClipboard('#{{v.vid}}')">Copy Path</button> -->
        </td>
    </tr>
    {% endfor %}
</table>
<!-- <a href="/preblah" class="btn btn-default pullright" style="background-color:yellow">Generate Summary</a> -->
{% endblock %}

